
:root {
  --heading-font: "Lora", serif;
  --paragraph-font: "Open-Sans", sans-serif;
  --card-title-font: "Pacifico", cursive;
  --main-font-color: #0d0d0d;
  --font-color-on-color: whitesmoke;
  --text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
  --box-shadow: rgba(50, 50, 93, 0.25) 0px, 50px 100px -20px;
  --border: rgb(35, 34, 34);
  --primary-color: --#4CAF50;
  --accent1: #795548;
  --accent2: #FF5722;
  --accent3: #FFEB3B;
  --accent4: #E0E0E0;
  --accent5: #F44336;
  --accent6: #636CA8;
  --accent7: #8BC34A;
}

/*Overall body fonts*/
body {
  font-family: var(--paragraph-font);
  max-width: 100%;
 
}
h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}
p {
  font-size: 1.5rem;
}
html {
  box-sizing: border-box;
}

/*Styling of the Header */
 .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.header-title {
  background-color: #4CAF50;
  margin-top: .50rem;
  margin-bottom: .50rem;
  padding: 1rem;
}

.header-title h1 {
  font-family: var(--card-title-font);
  color: rgb(243, 231, 231);
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
  font-size: 1.75rem;
  font-weight: 500;
  padding: 0;
  text-align: left;
}

/*Hero Image styling*/
.hero-container {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.hero-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}




/* Hamburger button */
.hambtn {
  height: 100%;
  padding: 0;
  margin: 0;
  align-self: end;

}

#nav-icon {
  width: 30px;
  height: 15px;
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  transform: rotate(0deg);
  transition: all .5s ease;
  cursor: pointer;
}

/* Hambtn lines*/
.button span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--accent6);
  border-radius: 15px;
  opacity: 1;
  left:0;
  transition: all .5s ease;
}

/* Hambtn -> Close button transition */
#nav-icon span:nth-child(1) {
  top: 0;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 50%;
}

#nav-icon span:nth-child(4) {
  top: 100%;
}

#nav-icon.open span:nth-child(1),
#nav-icon.open span:nth-child(4) {
  transform: rotateY(360deg) scale3d(0, 0, 0);
  opacity: 0;
}

#nav-icon.open span:nth-child(2) {
  transform: rotateZ(45deg) rotateX(360deg);
  background-color: var(--accent5);
  width: 80%;
  left: 10%;
}

#nav-icon.open span:nth-child(3) {
  transform: rotateZ(-45deg) rotate(360deg);
  background-color: var(--accent5);
  width: 80%;
  left: 10%;
}

/* Navigation style */
nav {
  position: relative;
}

#nav-icon {
  position:absolute;
  right: 5px;
  top: 70px;
  font-size: 1em;
  z-index: 2;
}

.inverse {
  color: white;
}

.primarynav {
  position: absolute;
  right: -300px;
  width: 300px;
  height: 25%;
  background-color: var(--accent6);
  z-index: 1;
  transition: 400ms ease;
}

nav.open {
  height: 100%;
  transform: translateX(-300px);
}

nav ul {
  list-style: none;
  padding: 50px 10px;
  text-align: center;
  overflow: hidden;
}

nav ul li {
  margin: 0;
  padding: 10px;
  
}

/* main .home-page */
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.plant h2 {
  font-size: 2rem;
}

/*style user interaction*/
#pName {
  height: 1.75rem;
  width: 25%;
  border: .1rem solid var(--border);
  border-radius: .4rem;
}

#search-button,
#clear-button {
  height: 2.5rem;
  width: 20%;
  padding: .6rem;
  border: .1rem solid var(--border);
  border-radius: .4rem;
  background-color: var(--accent6);
  color: var(--font-color-on-color);
  font-weight: 600;
}
#search-button {
  margin-right: .5rem;
}

#clear-button {  
  margin-left: .5rem;
}

/*Flip Card styling*/
/* CSS reset*/
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Typography */

/* Headings */

/* Main heading for card's front cover */
/*For both inside page's heading and the Title on card front*/
.card-front__text-title,
.inside-page__heading {
  font-size: .75rem;
  font-weight: 500;
  margin-top: .2rem;
}

.inside-page__heading,
.card-front__text-title {
  color: var(--accent7);
}

/*Front cover*/
.card-front__tp {
  color: var(--font-color-on-color);
}

/*Back cover*/
.inside-page__text {
  color: var(--main-font-color);
}

/* Icons styling */
.card-front__icon {
  fill: var(--accent1);
  font-size: 3vw;
  height: 3.25rem;
  margin-top: -.5rem;
  width: 3.25rem;
}

/* Favorite Button styles */

/*.inside-page__add-fav {
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
  border: .1rem solid var(--border);
  background: -webkit-linear-gradient(top,#fff,#ddd) #ddd;
  position: relative;
  transition: all .5s ease;
  border-radius: .4rem;
  box-shadow: inset 0 -.1rem .1rem #eee; 
  z-index: 10;
}

&:hover {
  background: -webkit-linear-gradient(top,#fff,#ccc) #ddd;
}

.inside-page__icon-heart {
  font-size: 2rem;
  color: #666;
  position: relative;
  transition: all .5s ease-in-out;
  z-index: 10;
}

.inside-page__icon-plus-sign {
  font-size: 1rem;
  color: #333;
  background: #fff;
  border-radius: 100%;
  position: absolute;
  bottom: .1rem;
  right: .1rem;
  height: .5rem;
  width: .5rem;
  line-height: .5rem;
  text-align: center;
  transition: all 1s ease-in-out;
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  &:checked + .icon-heart {
    color: orange;
    .icon-plus-sign {
      color: green;
    }
  }
}*/

/* Layout structure */
.home-page {
  background:linear-gradient(to bottom right,
  #eee8dd,
  #e3d9c6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

/* Container to hold all cards in one place */
.card-area {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

/* Card styling */
/* Area to hold an individual card */
.card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* A container to hold the flip card and the 
inside page*/
.card {
  background-color: rgba(0, 0, 0, .05);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.5);
  height: 35rem;
  position: relative;
  transition: all 1s ease;
  width: 35rem;
}

/*Flip care - covering boththe front and inside front page */

/*An outer container to hold the flip card. This excludes
the inside page */
.flip-card {
  height: 35rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 35rem;
  z-index: 100;
}

/*The outer container's visibility is set to hidden.
This is to make everything within the container NOT set
to hidden */
/* This is done so content in the inside page can be selected */
.flip-card > * {
  visibility: visible;
}

/* An inner container to hold the flip card. This excludes
the inside page */
.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Styling for the front side of the flip card */

/*Container for the front side */
.card-front {
  background-color: #fafbfa;
  height: 35rem;
  width: 35rem;
}

/* Front side's top section */
.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: .75rem;
}

.card-front__tp {
  background: linear-gradient(to bottom, 
  #ff73b9,
  #ff40a1);
}

/* Front card's bottom section */
.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/*Styling for the back side of the flip card */

.card-back {
  background-color: #fafbfa;
  transform: rotate(180deg);
}

.picture__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Inside Page */
.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem - 2.5rem rgba(0, 0, 0, 0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 35rem;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

/* Functionality */
/* This is to keep the card centered (within its container) when opened */
.card:hover {
  box-shadow: -1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.75);
  width: 30rem;
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.card:hover .inside-page {
  box-shadow: rgba(0, 0, 0, 0.1);
}


















