/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64em) {
    /*--Header large view */
    body {
        max-width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h4,
    h5,
    h6 {
      font-family: var(--heading-font);
      font-size: 32px;
    }
    p {
      font-size: 20px;
    }

    #search-button {
      margin-left: 17.5rem;
    }
    
    #clear-button {  
      margin-left: 1rem;
    }

    .plant-button {
      font-size: 1.65rem;
    }
    .card {
      margin: 2.25rem;
      width: 21rem;
      height: 27rem;
    }

    .card-slide {
      font-size: 1.2rem; 
      height: 30rem;
      width: 21rem;
    }
    
     
 

}